@media only screen and (max-width: 1500px) {

    .right-content {
        padding-left: 230px;
    }

    .about-text {
        padding: 0px 30px;
    }

    .about-main {
        gap: 40px;
    }

    .about-text-content {
        font-size: 18px;
    }

    .about-image-content {
        padding: 0px 40px;
    }

    .my-journey-inner {
        padding: 0;
    }

    .line3 {
        margin-left: 5vw;
    }

    .my-journey-text-title {
        margin-left: 3vw;
    }

    .resume-inner {
        position: relative;
        right: 10px;
        margin: 0;
    }

    .line1,
    .line2 {
        max-width: 0.25em;
        margin-left: 40px;
    }

    .about-image {
        height: 560px;
        width: 430px;
    }

    .line4 {
        margin-left: 54px;
    }

    .my-skill-set-text-content {
        width: 85%;

    }

    .skills-container-inner {
        width: 90%;
    }

    .my-project-content::after {
        content: '';
        height: 260px;
        width: 400px;
        right: 0%;
    }

    .project-text-number {
        font-size: 28px;
    }

    .prj-num-down {
        font-size: 26px;
    }

    .prj-num-up::after {
        font-size: 50px;
        right: -34px;
        top: 20px;
    }

    .prj-text {
        font-size: 20px;
    }

    #prjslider .owl-nav button.owl-next {
        right: 2%;
        width: 3.1em;
        height: 2.8em;
        font-size: 28px;

    }

    #prjslider .owl-nav button.owl-prev {
        width: 3.1em;
        height: 2.8em;
        left: 42%;
        font-size: 28px;

    }

    .contact-container {
        height: 460px;
    }

    .contact-me-head {
        font-size: 31px;
    }

    .contact-me-text {
        font-size: 20px;
    }

    .contact-social-item {
        height: 40px;
        width: 40px;
    }

    .winner-ribbon {
        top: 15px;
        left: -60px;
    }
}

@media only screen and (max-width: 1300px) {
    .my-journey-card {
        width: 155px;
        height: 245px;
    }

    .journey-year>h1 {
        font-size: 48px;
    }

    .prj-num-up::after {

        font-size: 48px;
        right: -30px;
        top: 18px;
    }

    .project-text-number {
        font-size: 26px;
    }

    .project-slider-item {
        gap: 3%;
    }

    .project-text-outer {
        width: 45%;
    }

    .prj-tech {
        font-size: 1.5em;
    }

    .proj-title {
        font-size: 1.6em;
    }

    .prj-text {
        font-size: 18px;
    }

    #prjslider .owl-nav button.owl-prev,
    #prjslider .owl-nav button.owl-next {
        width: 2.8em;
        height: 2.6em;
        font-size: 26px;
    }

    #prjslider .owl-nav button.owl-prev {
        left: 45%;
    }

    #prjslider .owl-nav button.owl-next {
        right: -1%;
    }

    .my-project-content::after {
        content: '';
        height: 240px;
        width: 340px;
        top: 63%;
    }

}

@media only screen and (max-width: 1200px) {
    .right-content {
        padding-left: 180px;
    }

    .left-graphic-content {
        width: 45%;
        margin-left: 0px;
    }

    .about-main {
        gap: 20px;
    }

    .about-text {
        padding: 0px 15px;
    }

    .about-image-content {
        padding: 0px 32px;
    }

    .my-journey-card {
        width: 145px;
        height: 235px;
    }

    .journey-year>h1 {
        font-size: 46px;
    }

    .journey-text {
        font-size: 16px;
    }

    .j-card4 {
        transform: rotate(-8deg);
    }

    .line4 {
        margin-left: 40px;
    }

    .my-project-content::after {
        content: '';
        height: 240px;
        width: 300px;
        right: -2%;
        top: 63%;
    }

    .contact-container {
        height: 450px;
    }

    .contact-me-head {
        font-size: 30px;
    }

    .contact-me-text {
        font-size: 19px;
    }

    .contact-social-item {
        height: 38px;
        width: 38px;
    }

    .footer-copyright {
        font-size: 14px;
    }
}


@media only screen and (max-width: 1024px) {
    .right-content {
        padding-left: 160px;
    }

    .top-text>span {
        font-size: 16px;
    }

    .top-text {
        margin-bottom: 20px;
    }

    .dev-text {
        transform: translateX(-6px);
    }

    .about-image {
        height: 540px;
        width: 400px;
    }

    .about-main {
        gap: 20px;
    }

    .about-text {
        padding: 0px 10px;
    }

    .about-text-content {
        font-size: 17px;
    }

    .about-text-title {
        font-size: 18px;
    }

    .about-title {
        font-size: 18px;
    }

    .my-journey-card {
        width: 40%;
        height: 225px;
    }

    .my-journey-card-inner {
        gap: 1vw;
    }

    .journey-card-left,
    .journey-card-right {
        gap: 1vw;
        width: 50%;
    }

    .journey-year>h1 {
        font-size: 44px;
    }

    .journey-year>h3,
    .journey-year>h2 {
        font-size: 28px;
    }

    .journey-text {
        font-size: 14px;
    }

    .journey22 {
        font-size: 42px;
    }

    .j-card4 {
        transform: rotate(-6deg);
    }

    .line3 {
        margin-left: 5vw;
    }

    .line4 {
        margin-left: 26px;
    }

    .skills-container-inner {
        width: 95%;
    }

    .project-text-number {
        font-size: 24px;
    }

    .my-project-content::after {
        content: '';
        height: 220px;
        width: 280px;
    }

    #prjslider .owl-nav button.owl-prev,
    #prjslider .owl-nav button.owl-next {
        font-size: 24px;
    }

    .my-project-title-text>span {
        font-size: 19px;
    }

    .my-project-title-text>h1 {
        font-size: 38px;
    }

    .footer-copyright {
        font-size: 12px;
    }
}

@media only screen and (max-width: 800px) {
    .right-content {
        padding-left: 120px;
    }

    .navbar-main {
        left: 2.25rem;
    }

    .kevalogo {
        left: 2.8rem;
    }

    .main-text-container {
        width: 45%;
    }

    .left-graphic-content {
        width: 50%;
    }

    .top-text>span {
        font-size: 14px;
    }

    .top-text {
        margin-bottom: 10px;
    }

    .about-main {
        flex-direction: column-reverse;
    }

    .about-image-content {
        align-self: flex-end;
    }

    .about-text {
        padding: 0px 80px;
    }

    .about-inner {
        width: 80%;
        margin-top: 40px;
    }

    .about-title {
        margin-top: 00px;
    }

    .line3 {
        margin-left: 13vw;
    }

    .my-journey-text-title {
        margin-left: 10vw;
    }

    .line1 {
        max-height: 8.2rem;

    }

    .journey-year>h1 {
        font-size: 42px;
    }

    .line4 {
        margin-left: 82px;
    }

    .skills-container-inner {
        width: 100%;
    }

    .project-slider-item {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .project-image-outer {
        width: 85%;
    }

    .project-text-outer {
        width: 100%;
    }

    .prj-text {
        min-height: 130;
    }

    #prjslider .owl-nav button.owl-next {
        top: 64%;
        right: 5%;
    }

    #prjslider .owl-nav button.owl-prev {
        top: 64%;
        left: 5%;
    }

    .my-project-content::after {
        height: 200px;
        width: 290px;
        right: 0%;
        top: initial;
        bottom: -1%;
    }

    .my-project-title-text>h1 {
        font-size: 34px;
    }

    .my-project-title-text>span {
        font-size: 14px;
    }

    .my-project-content {
        margin-top: 10px;
    }

    .line6 {
        max-height: 3.6rem;
    }

    .contact-container {
        height: 420px;
    }

    .contact-me-text {
        font-size: 18px;
    }

    .contact-me-outer {
        width: 50%;
    }

}

@media only screen and (max-width: 540px) {
    .right-content {
        padding: 10px;
    }

    .right-content-home {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .top-text {
        margin-top: 0px;
    }

    .left-graphic-content {
        width: 100%;
    }

    .left-graphic-inner {
        width: initial;
        padding: 22px;

    }

    .dev-text {
        font-size: 6.5vw;
        transform: translateX(-4px);
    }

    .dev-textd,
    .bottom-animated-text {
        font-size: 5.8vw;
    }

    .main-text-container {
        height: 100px;
        width: 50%;
        margin-bottom: 10px;
    }

    .top-text>span {
        font-size: 12px;
    }

    .scroll-down-main {
        display: none;
    }

    .about-main {
        margin-top: 100px;
    }

    .about-text {
        padding: 0px 8px;
    }

    .about-inner {
        width: 90%;
        align-self: center;
    }

    .about-image-content {
        width: 90%;
        padding: 0px;
        align-self: center;
    }

    .about-image {
        height: 455px;
        width: 100%;
    }

    .about-text-content {
        font-size: 15px;
    }

    .journey-line-outer {
        margin-left: 8vw;
    }

    .line3 {
        margin-left: 14vw;
    }

    .my-journey-card-inner {
        flex-direction: column;
        align-items: center;
    }

    .journey-card-left,
    .journey-card-right {
        width: 90%;
        justify-content: center;
        align-items: center;
    }

    .line3 {
        max-height: 4rem;
    }

    .j-card1 {
        transform: rotate(-13deg);
    }

    .j-card2 {
        transform: rotate(6deg);
    }

    .j-card3 {
        transform: rotate(1deg);
    }

    .j-card4 {
        transform: rotate(-15deg);
    }

    .my-journey-outer::before {

        left: -10px;
        background-position: 0px -162px;
    }

    .my-journey-outer::after {
        left: -10px;
        background-position: -19px 0px;
        top: 70%;
    }

    .journey-year>h1 {
        font-size: 42px;
    }

    .my-skill-set-title {
        font-size: 28px;
        margin-top: 32px;
    }

    .line4 {
        margin-left: 40px;
    }

    .pen-svg {
        height: 110px;
        width: 110px;

    }

    .skill-item {
        width: max-content;
        /* padding: 8px 18px;
        font-size: 1.1em; */
        padding: 7px 16px;
        font-size: 1.0em;
    }

    .my-project-title-text>h1 {
        font-size: 31px;
    }

    .my-project-title-text>span {
        font-size: 13px;
    }

    .project-text-number {
        font-size: 16px;
        padding: 0px;
    }

    .prj-num-down {
        font-size: 18px;
    }

    .prj-num-up::after {
        font-size: 36px;
        right: -25px;
        top: 8px;
    }

    .project-image-inner {
        width: 100%;
        height: 300px;
    }

    .project-image-outer {
        width: 95%;
    }

    #prjslider .owl-nav button.owl-prev,
    #prjslider .owl-nav button.owl-next {
        font-size: 22px;
        top: 65%;
    }

    #prjslider .owl-nav button.owl-next {
        right: -5%;
    }

    #prjslider .owl-nav button.owl-prev {
        left: -5%;
    }

    .my-project-content::after {
        height: 180px;
        width: 250px;
        right: -5%;
        top: initial;
        bottom: -10%;
    }

    .prj-tech {
        font-size: 1.3em;
    }

    .proj-title {
        font-size: 1.5em;
    }

    .prj-text {
        min-height: 60;
        max-height: 100;
        overflow-y: auto;
        font-size: 16px;
        margin-top: 25px;
    }

    .prj-links {
        font-size: 16px;
        gap: 10px;
    }

    .contact-container {
        height: 340px;
    }

    .contact-hand {
        width: 45%;
    }

    .contact-social-item {
        height: 25px;
        width: 25px;
    }

    .contact-social-item {
        padding: 8px;
        margin: 0;
    }

    .contact-social-icons {
        gap: 10px;
    }

    .contact-me-head {
        font-size: 26px;
    }

    .contact-me-text {
        font-size: 14px;
    }

    .contact-me-outer {
        width: 55%;
    }

    .footer-copyright {
        font-size: 10px;
    }

    .contact-me-text {
        margin-top: 14px;
    }

    .prj-live>svg {
        height: 14px;
        width: 14px;
    }

    .winner-ribbon {
        top: 14px;
        left: -74px;
        font-size: 8px;
        line-height: 10px;

    }
}

@media only screen and (max-width: 375px) {
    .dev-text {
        transform: translateX(-3px);
    }

    .top-text>span {
        font-size: 10px;
    }

    .journey-year>h1 {
        font-size: 35px;
    }

    .journey-year>h3,
    .journey-year>h2 {
        font-size: 24px;
    }

    .journey-text {
        font-size: 12px;
    }

    .my-skill-set-text-content {
        width: 95%;
        font-size: 18px;
    }

    .pen-svg {
        width: 100px;
        height: 100px;
        right: -26px;

    }

    .j-card4 {
        transform: rotate(-12deg);
    }

    .line4 {
        margin-left: 32px;
    }

    .skill-item {
        width: max-content;
        padding: 6px 12px;
        font-size: 0.9em;
        gap:8px;
    }

    .skills-container-inner {
        gap: 18px;
    }

    #prjslider .owl-nav button.owl-prev,
    #prjslider .owl-nav button.owl-next {
        font-size: 20px;
        top: 68%;
    }

    .my-project-title-text>h1 {
        font-size: 26px;
    }

    .prj-text {
        font-size: 14px;
    }

    .proj-title {
        font-size: 1.4em;
    }

    .prj-tech {
        font-size: 1.2em;
    }

    .prj-live>svg {
        height: 12px;
        width: 12px;
    }

    .prj-links {
        font-size: 15px;
        gap: 8px;
    }

    .project-desc-inner {
        padding: 12px 0px 12px 6px;
    }

    .project-image-inner {
        width: 100%;
        height: 250px;
    }

    .my-project-content::after {
        height: 160px;
        width: 188px;
    }

    .contact-hand {
        width: 40%;
    }

    .contact-me-outer {
        width: 57%;
    }

}

@media only screen and (max-width: 320px) {
    .journey-text {
        font-size: 12px;
    }

    .journey-year>h1 {
        font-size: 33px;
    }

    .journey-year>h3,
    .journey-year>h2 {
        font-size: 24px;
    }

    .line4 {
        margin-left: 28px;
    }

    .my-skill-set-title {
        font-size: 25px;
    }

    .my-skill-set-text-content {
        font-size: 18px;
    }

    .pen-svg {
        height: 90px;
        width: 90px;

    }

    .my-skill-set-text-content {
        width: 100%;
    }

    .my-skill-set-inner {
        padding-left: 22px;
    }

    .skill-item {
        /* padding: 6px 14px;
        font-size: 0.9em; */
    }

    .my-project-title-text>h1 {
        font-size: 24px;
    }

    .proj-title {
        font-size: 1.3em;
    }

    .prj-tech {
        font-size: 1.1em;
    }



    .prj-links {
        font-size: 14px;

    }

    .project-image-inner {
        width: 100%;
        height: 220px;
    }

    .my-project-content::after {
        height: 140px;
        width: 168px;
    }

    .contact-container {
        height: 295px;
    }

    .contact-me-text {
        font-size: 13px;
    }

    .contact-social-item {
        height: 22px;
        width: 22px;
        padding: 6px;
    }

    .winner-ribbon {
        top: 12px;
        left: -76px;
        font-size: 7px;
        line-height: 8px;
    }

}

/*--------------------------------------------------------------*/
@media only screen and (max-width: 540px),
screen and (max-height:650px) {
    body {
        cursor: initial;
    }

    #menu {
        display: flex;
        width: 25px;
        height: 20px;
    }

    .menu-line2 {
        margin-top: .5rem;
    }

    #cursor {
        display: none;
    }

    #cursor-border {
        display: none;
    }

    .nav-items {
        flex-direction: column;
        transform: rotate(0deg);
        flex: 1;
        padding-top: 120px;
    }

    .nav-item {
        transform: rotate(0deg);
        margin-bottom: 60px;
        justify-content: end;

    }

    .nav-item>a>span {
        font-weight: 300;
    }

    .navbar-main {
        position: initial;
        justify-content: center;
        width: 100%;
        max-width: 100%;
        align-items: center;
        background: rgb(242, 242, 242, 0.9);
        transform: translate(0, -100%);
        transition: 0.6s;
        backdrop-filter: blur(10px);
        left: 0;
    }
    .navbar-main-dark {
        background: #3a3737e6 !important;
    }
    .nav-social-icons {
        flex-direction: row;
        width: 100%;
        height: 70px;
        margin-top: 12px;
        border-top: 0.5px solid #d9d3d3;
        justify-content: space-evenly;
    }

    .nav-transform {
        transform: translate(0, 0);
        top: 0;
        left: 0;
        position: fixed;
    }

    #darkbutton {
        width: 25px !important;
        margin-top: 0 !important;
    }
    .navbar-main{
        top:initial !important;
    }
    

}

@media only screen and (max-height: 698px) {

    .nav-icon-item {
        margin: 2px 0px;
    }

    .nav-social-icons {

        margin-top: 12px;
    }
    #darkbutton {
        width: 32px;
        margin-top: 12px;
    }
    
    .navbar-main{
        top:7.5rem;
    }
}